# **Sprint 2 - Desenvolvimento do Modelo**

Nesta Sprint vamos fazer as seguintes atividades:

* **Escolha do Algoritmo:** Aqui, selecionaremos o algoritmo de classificação mais apropriado para o nosso projeto, com base nas características dos dados.

* **Treinamento do Modelo:** Usando os dados preparados na Sprint 1, treinaremos o modelo de classificação. Isso envolve o ajuste dos parâmetros do algoritmo e a otimização do desempenho.

* **Avaliação de Desempenho:** Avaliaremos o desempenho do modelo com diversas métricas de qualidade, garantindo que ele atenda aos nossos critérios de sucesso.

## Bibliotecas Utilizadas

In [1]:
import pandas as pd
import numpy as np

## Carregando o Conjunto de Dados

In [2]:
df = pd.read_csv('../datasets/estudo_sono_tratado.csv')
df.head() # Visualizando os primeiros registros

,ID,sexo,idade,ocupacao,horas_de_sono,qualidade_do_sono,nivel_atividade_fisica,nivel_stress,categoria_IMC,pressao_sanguinea,frequencia_cardiaca,passos_diarios,disturbio_do_sono,tem_disturbio_do_sono
0,1,Masculino,27,Engenheiro de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhum,False
1,2,Masculino,28,Médico,6.2,6,60,8,Normal,125/80,75,10000,Nenhum,False
2,3,Masculino,28,Médico,6.2,6,60,8,Normal,125/80,75,10000,Nenhum,False
3,4,Masculino,28,Representante de Vendas,5.9,4,30,8,Obeso,140/90,85,3000,Apneia do Sono,True
4,5,Masculino,28,Representante de Vendas,5.9,4,30,8,Obeso,140/90,85,3000,Apneia do Sono,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      374 non-null    int64
 1   sexo                    374 non-null    object
 2   idade                   374 non-null    int64
 3   ocupacao                374 non-null    object
 4   horas_de_sono           374 non-null    float64
 5   qualidade_do_sono       374 non-null    int64
 6   nivel_atividade_fisica  374 non-null    int64
 7   nivel_stress            374 non-null    int64
 8   categoria_IMC           374 non-null    object
 9   pressao_sanguinea       374 non-null    object
 10  frequencia_cardiaca     374 non-null    int64
 11  passos_diarios          374 non-null    int64
 12  disturbio_do_sono       374 non-null    object
 13  tem_disturbio_do_sono   374 non-null    bool
dtypes: bool(1), float64(1), int64(7), object(5)
memory usage: 38.5+ KB

## **Pré-Processamento dos Dados para utilização no Modelo**

In [4]:
# Convertendo a coluna 'pressao_sanguinea' para duas colunas separadas de pressão sistólica e diastólica
df[['pressao_sistolica', 'pressao_diastolica']] = df['pressao_sanguinea'].str.split('/', expand=True)

# Excluindo a coluna original 'pressao_sanguinea'
df.drop('pressao_sanguinea', axis=1, inplace=True)

# Transformando os novos dados em INT:
df['pressao_diastolica'] = df['pressao_diastolica'].astype('int')
df['pressao_sistolica'] = df['pressao_sistolica'].astype('int')
df.head()

,ID,sexo,idade,ocupacao,horas_de_sono,qualidade_do_sono,nivel_atividade_fisica,nivel_stress,categoria_IMC,frequencia_cardiaca,passos_diarios,disturbio_do_sono,tem_disturbio_do_sono,pressao_sistolica,pressao_diastolica
0,1,Masculino,27,Engenheiro de Software,6.1,6,42,6,Sobrepeso,77,4200,Nenhum,False,126,83
1,2,Masculino,28,Médico,6.2,6,60,8,Normal,75,10000,Nenhum,False,125,80
2,3,Masculino,28,Médico,6.2,6,60,8,Normal,75,10000,Nenhum,False,125,80
3,4,Masculino,28,Representante de Vendas,5.9,4,30,8,Obeso,85,3000,Apneia do Sono,True,140,90
4,5,Masculino,28,Representante de Vendas,5.9,4,30,8,Obeso,85,3000,Apneia do Sono,True,140,90

In [5]:
# Converta 'sexo' para variáveis dummy
df = pd.get_dummies(df, columns=['sexo'], drop_first=True, dtype='int')

# Converta 'ocupacao' para variáveis dummy
df = pd.get_dummies(df, columns=['ocupacao'], drop_first=True,dtype='int')

# Converta 'categoria_IMC' para variáveis dummy
df = pd.get_dummies(df, columns=['categoria_IMC'], drop_first=True, dtype='int')

# Converta 'disturbio_do_sono' para variáveis dummy
df = pd.get_dummies(df, columns=['disturbio_do_sono'], drop_first=True, dtype='int')

df.head()

,ID,idade,horas_de_sono,qualidade_do_sono,nivel_atividade_fisica,nivel_stress,frequencia_cardiaca,passos_diarios,tem_disturbio_do_sono,pressao_sistolica,...,ocupacao_Gerente,ocupacao_Médico,ocupacao_Professor,ocupacao_Representante de Vendas,ocupacao_Vendedor(a),categoria_IMC_Obeso,categoria_IMC_Peso Normal,categoria_IMC_Sobrepeso,disturbio_do_sono_Insônia,disturbio_do_sono_Nenhum
0,1,27,6.1,6,42,6,77,4200,False,126,...,0,0,0,0,0,0,0,1,0,1
1,2,28,6.2,6,60,8,75,10000,False,125,...,0,1,0,0,0,0,0,0,0,1
2,3,28,6.2,6,60,8,75,10000,False,125,...,0,1,0,0,0,0,0,0,0,1
3,4,28,5.9,4,30,8,85,3000,True,140,...,0,0,0,1,0,1,0,0,0,0
4,5,28,5.9,4,30,8,85,3000,True,140,...,0,0,0,1,0,1,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 27 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ID                                374 non-null    int64
 1   idade                             374 non-null    int64
 2   horas_de_sono                     374 non-null    float64
 3   qualidade_do_sono                 374 non-null    int64
 4   nivel_atividade_fisica            374 non-null    int64
 5   nivel_stress                      374 non-null    int64
 6   frequencia_cardiaca               374 non-null    int64
 7   passos_diarios                    374 non-null    int64
 8   tem_disturbio_do_sono             374 non-null    bool
 9   pressao_sistolica                 374 non-null    int32
 10  pressao_diastolica                374 non-null    int32
 11  sexo_Masculino                    374 non-null    int32
 12  ocupacao_Cientista                374 non-null    int32
 13  ocupacao_Contador(a)              374 non-null    int32
 14  ocupacao_Enfermeiro(a)            374 non-null    int32
 15  ocupacao_Engenheiro               374 non-null    int32
 16  ocupacao_Engenheiro de Software   374 non-null    int32
 17  ocupacao_Gerente                  374 non-null    int32
 18  ocupacao_Médico                   374 non-null    int32
 19  ocupacao_Professor                374 non-null    int32
 20  ocupacao_Representante de Vendas  374 non-null    int32
 21  ocupacao_Vendedor(a)              374 non-null    int32
 22  categoria_IMC_Obeso               374 non-null    int32
 23  categoria_IMC_Peso Normal         374 non-null    int32
 24  categoria_IMC_Sobrepeso           374 non-null    int32
 25  disturbio_do_sono_Insônia         374 non-null    int32
 26  disturbio_do_sono_Nenhum          374 non-null    int32
dtypes: bool(1), float64(1), int32(18), int64(7)
memory usage: 50.2 KB

## **Escolha do Algoritmo**

## **Treinamento do Modelo**

## **Avaliação de Desempenho**

## **Conclusão**